body {
	background-color: rgb(253,249,243);
   overflow-x: hidden !important;
}
.dropdown-backdrop{
position: static;
}
.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 50px;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
  background-color: rgba(11, 63, 44, 0.95);
}
.navbar-fixed-bottom {
  position: absolute !important;
}
.nav li {
  display: inline;
  color: white;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
  font-family: Oswald;
  font-size: 1.2em;
  font-weight: 300;
}
.navbar-inverse .navbar-nav li a:hover {
  background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}
a.links{
	text-align: center;
}
a {
  color: black;
  text-decoration: none;
	/*padding:5%;*/
}
a:visted {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(153, 101, 21) !important;
  text-decoration: underline;
}
a:focus {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
	width: 100%;
}
.main {
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.123), rgba(255, 255, 255, 0.123)), url('http://i.imgur.com/RyXAGXk.jpg?1');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 700px;
  width: 100%;
  padding-bottom: 40%;
  padding-top: 0;
  margin: 0;
}
.location {
  float: right;
}
.logo {
  width: 70%;
  margin: 0 auto;
  background: url('http://i.imgur.com/kN3fdT2.png?1') no-repeat center center;
  background-size: contain;
  position: relative;
  height: 700px;
  padding-bottom: 42.85714%;
  padding-top: 0;
	width: 100%;
  /*display: none;*/
}
.banner {
  width: 90%!important;
	/*-webkit-filter: opacity(90%);*/
  /*filter: opacity(90%);*/
  margin-left: 5%;
  background-size: contain;
  position: absolute;
  padding-top: 5%;
  z-index: 2;
  display: none;
}
.opengarage {
  width: 100%;
}
.names {
  font-family: "Archivo Narrow";
  font-size: 3.5em;
  margin-bottom: 0;
	color: rgb(153, 101, 21);
}
.loc {
  font-family: "Archivo Narrow";
  font-size: 4em;
  margin-bottom: 0;
}
.loc2 {
  font-family: "Archivo Narrow";
  font-size: 4em;
  margin-bottom: 0;
}
.aboutdesc {
  /*float: left;*/
  /*width: 100%;*/
  padding-left: 0px;
  padding-top: 0%;
  font-family: "Archivo Narrow";
  font-size: 1.2em;
  text-align: justify;
  /*margin-left:20%;*/
}
.btn-group-justified>.btn-group .btn {
    width: 33%;
    margin-left: 33%;
    text-align: center;
    margin-top: 5%;
    background-color: #21201F;
    color: #F7F7F7;
    font-family: anton;
}
.kegs {
  position: relative;
  background-size: contain;
  /*height: 340px !important;*/
  width: 100%;
  outline: 1px solid black;
  /*padding-bottom:41.67391% !important;*/
  margin-top: 5%;
  opacity: 0.6;
  box-shadow: 5px 10px 25px;
}
.brewline1 {
  font-family: archivo narrow;
  font-weight: bold;
  padding: 0;
  margin-top: 5%;
  letter-spacing: 5px;
  text-decoration: overline;
  font-size: 35px;
  text-align: center;
}
.brewline {
  font-family: archivo narrow;
  font-weight: bold;
  padding: 0;
  margin: 0;
  letter-spacing: 5px;
  font-size: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
	margin-bottom: 40px;
}
.seasonal {
  font-family: archivo narrow;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center !important;
	margin-bottom: 40px;
	list-style-type: none;
}

.style {
  margin-top: 5%;
  font-family: "Archivo Narrow";
  font-size: 2em;
	list-style-type: none;
}
div.box h1{
	border: 1px solid black;
	display: block;
	margin-right: 80%;
	text-align: center;
	vertical-align: middle;
}
#top {
	padding-top:100px;
}
.details {
	text-align: center;
  color: rgb(153, 101, 21);
  font-family: "Archivo Narrow";
}
.descriptions {
  margin-top: 20%;
  font-family: Open Sans Condensed;
  font-size: 1.3em;
}
.content-secondary li {
	list-style-type: none;
}
.beer-image--tripel {
  background: url('http://i.imgur.com/SWDSouD.png?1');
  background-repeat: no-repeat;
  /*background-size: contain;*/
}
.wrapper li,h3 {
	text-align: center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
		width: 60%;
		margin: auto;
}
.carousel-control.right {
	background-image: linear-gradient(to right,rgba(253, 249, 243, 1) 0,rgba(253, 249, 243, 1) 100%);
	}
	.carousel-control.left {
	background-image: linear-gradient(to right,rgba(253, 249, 243, 1) 0,rgba(253, 249, 243, 1) 100%);
	}
.c-email {
  font-family: "Archivo Narrow";
  font-size: 2em;
  text-align: center;
	/*margin-top: 5%;*/
}
p.email {
  font-family: "Archivo Narrow";
  font-size: 1.7em;
  color: black;
  text-align: center;
}
.me {
	float: right;
	margin-right: 5%;
	font-family: archivo narrow;
}
.social-media{
	margin-top:8%;
	text-align: center !important;
}
.instagram {
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 30px !important;
}
.facebook{
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 30px !important;
}
.twitter{
  max-width: 33px !important;
  max-height: 33px !important;
  width: 30px !important;
  height: 30px !important;
}
.about img{
  margin-top: 5% !important;
}
footer {
	border: 1px solid black !important;
}
.wrapperpress {
	margin: auto;
	width: 75%;
}

.wrap {
	width: 80%;
	margin: auto;
	background-color: #E8E2D6;
	border: 1px solid #1F3112;
	padding-bottom: 5%;
	margin-bottom: 2%;
}
.spacing {
	padding-bottom: 5%;
}
.pressdesc {
	font-family: Open Sans Condensed;
	font-size: 2em;
}

/*////////////////// M E D I A   Q U E R I E S ////////////////////*/
@media all and (max-width: 991px) and (min-width: 701px) {
body {
	background-color: rgb(253,249,243);
   overflow-x: hidden !important;
}
.banner {
  width: 90%!important;
  margin-left: 5%;
  background-size: contain;
  position: absolute;
  padding-top: 10%;
  z-index: 2;
  display: none;
}
p.aboutdesc {
  margin-left: 25%;
}
h3.style {
  text-align: center;
  margin-left: 0;
}
h5.details {
	text-align: center;
	margin-left: 0;
	font-size: 1.2em;
}
p.descriptions {
	margin-top: 5%;
	font-family: Open Sans Condensed;
	font-size: 1.3em;
	margin-bottom: 5%;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
img.img-responsive.labels {
	display: block;
	max-width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
}


@media all and (max-width: 700px) and (min-width: 601px) {
	.c-email {
	  font-family: "Archivo Narrow";
	  font-size: 1.8em;
	  text-align: center;
	}
	.email a{
		font-family: "Archivo Narrow";
		font-size: 0.7em;
		color: black;
		text-align: center;
	}
.navbar .nav > li {
  z-index: 1001;
}
.navbar-collapse {
  text-align:center;
}
.navbar-nav {
  display:inline-block;
  float:none;
}
body {
	background-color: rgb(253,249,243);
  overflow-x: hidden !important;
}
.banner {
  width: 90%!important;
  margin-left: 5%;
  background-size: contain;
  position: absolute;
  padding-top: 15%;
  z-index: 2;
  display: none;
}
p.aboutdesc {
  margin-left: 25%;
}
h3.style {
  text-align: center;
  margin-left: 0;
}
h5.details {
  text-align: center;
  margin-left: 0;
  font-size: 1.2em;
}
p.descriptions {
	margin-top: 5%;
	font-family: Open Sans Condensed;
	font-size: 1.3em;
	margin-bottom: 5%;
	padding-left: 40px;
	padding-right: 40px;
  text-align: center;
}
img.img-responsive.labels {
	display: block;
	max-width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

@media all and (max-width: 600px) {
.c-email {
  font-family: "Archivo Narrow";
  font-size: 1.5em;
  text-align: center;
}
.email a{
	font-family: "Archivo Narrow";
	font-size: 0.6em;
	color: black;
	text-align: center;
}
.format {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.navbar-collapse {
	text-align:center;
}
.navbar-nav {
  display:inline-block;
  float:none;
}
body {
	background-color: rgb(253,249,243);
  overflow-x: hidden !important;
}
.navbar .nav > li {
	z-index: 1001;
}
.main {
	height: 500px;
	width: 100%;
	background: #FDF9F3;
}
.banner {
  width: 90%!important;
  margin-left: 5%;
  background-size: contain;
  position: absolute;
  padding-top: 20%;
  z-index: 2;
  display: none;
}
.names {
  text-align: center;
}
p.aboutdesc {
  width: 100%;
  padding-left: 0px;
  padding-top: 0%;
  font-family: "Archivo Narrow";
  font-size: 1.1em;
  text-align: justify;
  margin-left: 12%;
}
p.descriptions {
	margin-top: 5%;
  font-family: Open Sans Condensed;
  font-size: 1.3em;
  margin-bottom: 5%;
  padding-left: 40px;
  padding-right: 40px;
}
img.img-responsive-main {
	margin-left: auto;
	margin-right: auto;
	display:block;
}
img.img-responsive.labels {
	display: block;
	max-width: 65%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
h3.style {
  text-align: center !important;
}
h5.details {
  text-align: center;
  font-size: 1em;
}
h1.brewline1 {
  margin-left: 5%;
}
h1.brewline {
  margin-left: 5%;
}
}
